@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --BACKGROUND: #684BB1;
  --NEUTRAL: #FFFFFF;

  /* SHADOW */
  --BUTTON: 0rem .25rem .25rem rgba(0, 0, 0, 0.25); 

  /* TYPOGRAPHY */
  --FF1: "Poppins", sans-serif;
  --FF2: "Open Sans", sans-serif;

  /* MOBILE */
  --TITLE-MOB: bold 1.5rem/2.25rem var(--FF1);
  --SUBTITLE-MOB: normal 1rem/1.5rem var(--FF2);
  --BUTTON-MOB: normal .75rem/1.125rem var(--FF1);

  /* DESKTOP */
  --TITLE-DSK: bold 2.5rem/3.75rem var(--FF1);
  --SUBTITLE-DSK: normal 1.125rem/1.6875rem var(--FF2);
  --BUTTON-DSK: normal 1.125rem/1.6875rem var(--FF1);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;

  display: flex;
  flex-flow: column;

  background-color: var(--BACKGROUND);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 375px 373px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  text-decoration: none;
}

.header-main {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3.75rem;
    margin: 2.3875rem auto 0rem auto;
}

/* HEADER */
.huddle__header {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.header-content {
    width: 100%;
    height:100%;
    display: flex;
    flex-flow: column;
    gap: 4.375rem;
}

.header__logo {
    width: 120px;
    height: 19px;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__hero {
    width: 296px;
    height: 209px;
}

.header__hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MAIN */

.huddle-main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.main-content {
    width: 304px;
    height: 272px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
}

.main__text-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}

.text-content-title {
    font: var(--TITLE-MOB);
    color: var(--NEUTRAL);
    text-align: center;
}

.text-content-subtext {
    font: var(--SUBTITLE-MOB);
    color: var(--NEUTRAL);
    text-align: center;
}

/* BUTTON */

.content-button {
    background-color: var(--NEUTRAL);
    padding: .7056rem 4.6963rem .6694rem 4.7412rem;
    border-radius: 1.25rem;

    font: var(--BUTTON-MOB);
    color: var(--BACKGROUND);
    box-shadow: var(--BUTTON);
}

/* FOOTER */
.huddle-footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 4rem auto 2.5rem auto;
}

.footer__social-logos {
    width: 103.5px;
    height: 28px;
    display: flex;
    justify-content: space-around;
}

.footer__social-logo {
    width: 27.5px;
    height: 28px;
}

.footer__social-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 992px) {    
    body {
        background-image: url("./images/bg-desktop.svg");
        background-size: 1318px 800px;
  }
  
    
    .header-main {
        flex-flow: row;
        gap: 3.6875rem;
        margin: 4rem auto 0rem auto;
    }

    /* HEADER */
    .header-content {
        gap: 6.5rem;
    }

    .header__logo {
        width: 200px;
        height: 32px;
    }

    .header__hero {
        width: 696px;
        height: 493px;
    }
     
    /* MAIN */

    .main-content {
        width: 520px;
        height: 225px;
        align-items: start;
        gap: 1.5rem;
    }

    .main__text-content {
        gap: 1.5rem;
    }

    .text-content-title {
        font: var(--TITLE-DSK);
        text-align: left;
    }

    .text-content-subtext {
        font: var(--SUBTITLE-DSK);
        text-align: left;
    }
  
    /* BUTTON */

    .content-button {
        padding: .8125rem 3.9375rem 1rem 4rem;
        border-radius: 1.75rem;

        font: var(--BUTTON-DSK);
    }

    /* FOOTER */
    .huddle-footer {
        width: 100%;
        align-items: end;
        margin: 1.6875rem auto 2.5rem auto;
    }

    .footer__social-logos {
        width: 152px;
        height: 40px;
        margin-right: 5rem;
    }

    .footer__social-logo {
        width: 40px;
        height: 40px;
    }
}